<div class="searchBar">
  <div class="container">
    <form action="/search" class="search_form" role="search" method="post">
      <input type="search" aria-label="Seach" id="searchInput" name="searchTerm" placeholder="Seach the site...">
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>